{% extends 'template.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div>
    <p>bonjour symfony {{ name | capitalize }} , {{ firstName | capitalize }} </p>
    {#<img src="{{ asset('assets/images/') ~ path | defaultImage }}" alt="">#}
    mon url absolut est : {{ url('app_first') }}
</div>
{% endblock %}